html, body {
    background-image: url('../Images/pizza.jpeg');
    /* background-color: teal; */
    background-size: cover;
    opacity: 1.0;
}

.container {
    position: relative;
    text-align: center;
    color: black;
}


       