<style>
#pof_ads_Wrapper {
    width: 980px;
    height: 110px;
    display: block;
    border: none;
    overflow: hidden;
}


.container-margins {
    margin-top: 25px
}

#blue-box-fluid-round {
    width: 445px;
}

#country {
    width: 228px;
}

#homepagedefaultlander {
    float: right;
    width: 460px;
    margin-left: 20px;
    font-family: arial, sans-serif;
    font-weight: bold;
}


.recommended-sites {
    padding: 0px;
}

.bottomAds {
    height: 120px;
    width: 635px;
    margin: 30px auto 20px;
    text-align: center;
}

.bottomAdLeftSrc {
    width: 300px;
    height: 120px;
    padding: 5px;
}

.bottomAdRightSrc {
    width: 310px;
    height: 120px;
    padding: 5px;
}
</style>

  <style>
  div#wrapper div#container:after {
      content: "\a";
      white-space: pre;
  }
</style>

  <style>
  .intromessagewrapper {
      float: left;
      width: 620px;
      text-align: left;
      margin: 30px;
      margin-left: 30px;
      margin-top: 30px;
      margin-right: 0px;
  }

ol.introbullet {
    margin-left: 20px;
}
</style>

  <style>
  .featurelist-wrapper {
      background-color: white;
      line-height: 26px;
      font-size: 14px;
      float: left;
  }

.featurelist-entry {
    padding-top: 45px;
    float: left;
    text-align: justify;
    background-color: white;
    padding-left: 30px;
    padding-bottom: 10px;
    *width: 265px
}

.featurelist-entry-text {
    width: 245px;
    padding-right: 30px;
    display: block;
    padding-left: 30px
}

.featurelist-image-beaker {
    float: left;
    padding-right: 15px;
    padding-bottom: 15px
}

.featurelist-image-line {
    float: left;
    padding-top: 40px;
    width: 1px;
    height: 173px;
    padding-top: 32px
}

.featurelist-image-sub {
    float: left;
    padding-right: 15px;
    padding-bottom: 15px
}
</style>


  <style type="text/css">
                        .optanon-alert-box-wrapper {
                            position: relative;
                        }
</style>
  <style type="text/css">
                        #cookie-policy-banner {
                            display: none;
                            width: 100%;
                            background-color: #323232;
                            color: #ffffff;
                            z-index: 10001;
                        }

#cookie-policy-banner #contents {
    width: 978px;
    margin: 0 auto;
    padding: 20px 0px;
    text-align: left;
}

#cookie-policy-banner #text-area {
    width: 913px;
    font-size: 15px;
    display: inline-block;
    text-align: left;
    padding-right: 37px;
}

#cookie-policy-banner #text-area a {
    color: #ffffff;
    text-decoration: underline;
}

#cookie-policy-banner #contents img {
    width: 21px;
    height: 21px;
    cursor: pointer;
}
</style>

  <style>
  div#wrapper div#container:after {
      content: "\a";
      white-space: pre;
  }
</style>
  <style>
  #pof_ads_Wrapper {
      width: 980px;
      height: 110px;
      display: block;
      border: none;
      overflow: hidden;
  }


.container-margins {
    margin-top: 25px
}

#blue-box-fluid-round {
    width: 445px;
}

#country {
    width: 228px;
}

#homepagedefaultlander {
    float: right;
    width: 460px;
    margin-left: 20px;
    font-family: arial, sans-serif;
    font-weight: bold;
}


.recommended-sites {
    padding: 0px;
}

.bottomAds {
    height: 120px;
    width: 635px;
    margin: 30px auto 20px;
    text-align: center;
}

.bottomAdLeftSrc {
    width: 300px;
    height: 120px;
    padding: 5px;
}

.bottomAdRightSrc {
    width: 310px;
    height: 120px;
    padding: 5px;
}
</style>